.popup {
  &__header {
    height: $popup-header;
    color: #fff;
    padding: 3px 10px;
    background-color: $primary-color;
  }
  &__inner {
    padding: 10px;
  }
  &__link {
    margin-top: 7px;

    a {
      width: $popup-header;
      height: $popup-header;
      padding: 13px;
      font-size: 1.3rem;
      color: $primary-color;
      border-radius: 50%;
      border: 2px solid $primary-color;
      text-decoration: none;
      align-items: center;
      justify-content: center;
    }
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
}
