// Displays
.d-flex {
  display: flex;
}
.d-inline-block {
  display: inline-block;
}

// Positions
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}

// Sizes
// Width in %
.w {
  &-25 {
    width: 25%;
  }
  &-50 {
    width: 50%;
  }
  &-75 {
    width: 75%;
  }
  &-100 {
    width: 100%;
  }
}
// Width in vw
.vw {
  &-25 {
    width: 25vw;
  }
  &-50 {
    width: 50vw;
  }
  &-75 {
    width: 75vw;
  }
  &-100 {
    width: 100vw;
  }
}

// Margins
.m {
  &t-0 {
    margin-top: 0;
  }
  &b-0 {
    margin-bottom: 0;
  }
  &y-10 {
    margin: 10px 0;
  }
  &-0 {
    margin: 0 auto;
  }
}

// Paddings
.p {
  &-20 {
    padding: 20px;
  }
  &x-20 {
    padding: 0 20px;
  }
  &y-20 {
    padding: 20px 0;
  }
}

// Text-aligns
.text-center {
  text-align: center;
}

.radius-50 {
  border-radius: 50%;
}
