h1 {
  font-size: 1.4rem;
  padding: 10px;
  color: #fff;
  background-color: darkcyan;
}

h2 {
  font-size: 1.2rem;
  padding-bottom: 7px;
  border-bottom: 2px solid lightgray;
}

p {
  font-size: 1rem;
}
